* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: #fff;
  background: #222;
}

#root {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.instructions-container {
  border: 2px solid #fff;
  padding-inline: 10px;
  width: 100%;
}

.instructions-description {
  list-style: none;
  padding: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  place-content: center;
  gap: 10px;
}

.winner-display {
  border: 1px solid #fff;
  color: #fff;
  background: #222;
  width: 80%;
  text-align: center;
}

.turns {
  display: flex;
  gap: 20px;
}

.turns section {
  font-size: 70px;
  padding: 10px;
  border-radius: 15px;
}

.turns section.is_active {
  background: #09f;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
  user-select: none;
}

.winner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222222a3;
}

.winner-dialog {
  border: 1px solid #fff;
  background: #222;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.winner-message h2 {
  font-size: 40px;
}

.winner-restart-btn {
  font-size: 16px;
  padding: 20px 36px;
  border: 1px solid #09f;
  border-radius: 5px;
  background: #09f;
  color: #fff;
}

.winner-restart-btn:hover {
  background: rgb(9, 143, 232);
}
